ORG_COUNTRY="US"
ORG_STATE="Massachusetts"
ORG_LOCALITY="Boston"
ORG_NAME="MyOrganization"
DOMAIN_NAME="myorganization.org"
ORG_EMAIL="admin@${DOMAIN_NAME}"
SERVER_FQDN="server.${DOMAIN_NAME}"
PKI_FQDN="pki.${DOMAIN_NAME}"
SUBJECTALTNAME_ADBLOCK2PRIVOXY="DNS:localhost, IP:127.0.0.1"

export ORG_COUNTRY ORG_STATE ORG_LOCALITY ORG_NAME DOMAIN_NAME ORG_EMAIL SERVER_FQDN PKI_FQDN SUBJECTALTNAME_ADBLOCK2PRIVOXY
