# Change this block from the CA's ./openssl.cnf
# [ CA_default ]
# dir             = …/intermediate
# database        = $dir/index_intermediate.txt
# serial          = $dir/serial_intermediate
# private_key     = $dir/private/intermediate.key.pem
# certificate     = $dir/intermediate.cert.pem
# crlnumber       = $dir/crlnumber_intermediate
# crl             = $dir/intermediate.crl.pem
# policy          = policy_loose

# commonName                      = MacPorts Intermediate CA Surrogate
# commonName_default              = MacPorts Intermediate CA Surrogate

.include ./common_policy.cnf

[ca]
default_ca        = CA_default

[ CA_default ]
# Directory and file locations.
dir               = intermediate
certs             = $dir/certs
crl_dir           = $dir/crl
new_certs_dir     = $dir/newcerts
database          = $dir/index.txt
serial            = $dir/serial
RANDFILE          = $dir/private/.rand

# The root key and root certificate.
private_key       = $dir/private/$dir.key.pem
certificate       = $dir/certs/$dir.cert.pem

# For certificate revocation lists.
crlnumber         = $dir/crlnumber
crl               = $dir/crl/intermediate.crl.pem
crl_extensions    = crl_ext
default_crl_days  = 30

# SHA-1 is deprecated, so use SHA-2 instead.
default_md        = sha256

name_opt          = ca_default
cert_opt          = ca_default
# 3 years and a month
default_days      = 1126
preserve          = no
policy            = policy_strict

# allow issuing multiple certificates with the same CN 
unique_subject = no

[req]
# Options for the `req` tool (`man req`).
# default_bits        = 4096
default_bits        = 3072
distinguished_name  = req_distinguished_name
string_mask         = utf8only

# SHA-1 is deprecated, so use SHA-2 instead.
default_md          = sha256

# note: these settings are overridden in the script create_smime.sh
[req_distinguished_name]
countryName = $ENV::ORG_COUNTRY
countryName_default = $ENV::ORG_COUNTRY
countryName_min = 2
countryName_max = 2
stateOrProvinceName = $ENV::ORG_STATE
stateOrProvinceName_default = $ENV::ORG_STATE
localityName = $ENV::ORG_LOCALITY
localityName_default = $ENV::ORG_LOCALITY
organizationName = $ENV::ORG_NAME
organizationName_default = $ENV::ORG_NAME S/MIME
organizationalUnitName = $ENV::ORG_NAME S/MIME
commonName = $ENV::ORG_NAME S/MIME
commonName_default = $ENV::ORG_NAME S/MIME
commonName_max = 64
emailAddress = $ENV::ORG_EMAIL
emailAddress_max = 40

[ v3_ca ]
# Extensions for a typical CA (`man x509v3_config`).
subjectKeyIdentifier = hash
authorityKeyIdentifier = keyid:always
basicConstraints = critical, CA:true
keyUsage = critical, digitalSignature, cRLSign, keyCertSign

[ v3_intermediate_ca ]
# Extensions for a typical intermediate CA (`man x509v3_config`).
subjectKeyIdentifier = hash
#authorityKeyIdentifier = keyid:always
basicConstraints = critical, CA:true, pathlen:1
keyUsage = critical, digitalSignature, cRLSign, keyCertSign

[ crl_ext ]
# Extension for CRLs (`man x509v3_config`).
authorityKeyIdentifier=keyid:always

[ ocsp ]
# Extension for OCSP signing certificates (`man ocsp`).
basicConstraints = CA:FALSE
subjectKeyIdentifier = hash
authorityKeyIdentifier = keyid
keyUsage = critical, digitalSignature
extendedKeyUsage = critical, OCSPSigning

# SMIME certificates (`man x509v3_config`)
# https://www.dalesandro.net/create-self-signed-smime-certificates/
# https://gist.github.com/richieforeman/3166387

[ smime ]
basicConstraints = CA:FALSE
# works on macOS, not iOS
# keyUsage = critical, keyEncipherment
# extendedKeyUsage = emailProtection
# works on macOS, iOS
keyUsage = nonRepudiation, digitalSignature, keyEncipherment
extendedKeyUsage = emailProtection
subjectKeyIdentifier = hash
authorityKeyIdentifier = keyid:always
subjectAltName = email:copy

[ smime_encryption ]
basicConstraints = CA:FALSE
# works on macOS, not iOS
# keyUsage = critical, keyEncipherment
# extendedKeyUsage = emailProtection
# works on macOS, iOS a both signature and encryption certificate
# keyUsage = nonRepudiation, digitalSignature, keyEncipherment
# this should not be critical
keyUsage = keyEncipherment
extendedKeyUsage = emailProtection
subjectKeyIdentifier = hash
authorityKeyIdentifier = keyid:always
subjectAltName = email:copy

[ smime_signature ]
basicConstraints = CA:FALSE
keyUsage = critical, nonRepudiation, digitalSignature
extendedKeyUsage = critical, emailProtection
subjectKeyIdentifier = hash
authorityKeyIdentifier = keyid:always
subjectAltName = email:copy
